#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

html,
body {
  height: 100%;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
